<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" type="css" href="/public/basic_css.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script defer src="/scripts/app.js"></script>

  <title>Home Page</title>
</head>

<body>

  <%- include('partials/_header') %>

    <main>

      <div class="browse-stories">
        <% for(let story of stories) { %>
          <div class="story-box">
            <div class="user-avatar">
              <i></i>
            </div>
            <div class="story-info">
              <h2>
                <%= story.title %>
              </h2>
              <p>
                <%= story.content %>
              </p>
            </div>
            <% if(story.published_status===false) { %>
              <p class="story-status">POSTED</p>
              <% } else { %>
                <p class="story-status">PUBLISHED</p>
                <% } %>
                  <% } %>
          </div>
      </div>

      <div class="browse-contributions">
        <% for (let contribution in locals.contributions) { %>
          <div class="contribution-box">
            <div class="user-avatar">
              <i></i>
            </div>
            <div class="contribution-info">
              <p>
                <%= contribution.content %>
              </p>
            </div>
          </div>
          <% } %>
      </div>

      </div>
      <article>
        <div id="stories-form">
          <!-- Errors Here-->
          <div id="error-msg-guest" class="error"><i class="fa-solid fa-circle-exclamation"></i></div>
          <form action="/stories" method="POST">
            <label for="title">title</label>
            <textarea type="text" id="story-title" name="title"></textarea>
            <br></br>
            <label for="content">story</label>
            <textarea type="text" id="story-content" name="content"></textarea>
            <br></br>
            <button type="submit" value="'submit">bArk</button>
            <output name="story-output" for="story">
              <i id="upvote-button" class="fa-solid fa-angles-down"></i>
            </output>
      </article>

      <section id="editing-container">
        <% for (let story of stories) { %>

        <article>
          <button type="button" name="edit-form" id="edit-slide-button">Edit Story</button>
          <div class="editing-form">

            <form action="/stories/edit/<%= story.id %>" method="POST">
              <label for="story_id"><%= story.id %></label>
              <input type="hidden" id="story_id" name="story_id" value="<%= story.id %>">
              <label for="title">Edit Story Title</label>
              <textarea type="text" id="edit-story-title" name="edit-title"><%= story.title %></textarea>
              <br></br>
              <label for="content">Edit Story</label>
              <textarea type="text" id="edit-story-content" name="edit-content"><%= story.content %></textarea>
              <br></br>
              <button type="submit" class="update-button" data-story-id="<%= story.id %>">Update</button>
              <button type="submit" class="delete-button" data-story-id="<%= story.id %>">Delete Story</button>
              <button type="submit" class="publish-button" data-story-id="<%= story.id %>">Publish Story</button>
              <output name="edit-story-output" for="edit-story"></output>
            </form>
          </div>
        </article>
        <% } %>
      </section>

      <div id="contributions-form">
        <form action="/stories/contributions" method="POST">
          <label for="contribution">What Happens Next?</label>
          <textarea type="text" id="contribution-content" name="content"></textarea>
          <br>
          <button type="submit" value="submit">bArk</button>
          <output name="contribution-output" for="contribution">
            <i id="upvote-button" class="fa-solid fa-angles-down"></i>
          </output>
        </form>
        <section id="contributions-container"></section>
      </div>
    </main>

</body>

</html>
