<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Stories</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!--<link rel="stylesheet" href="/styles/main.css" />-->
  <link rel="stylesheet" href="/styles/basic_css.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>

</head>
<body>


<%- include('partials/_header') %>
<div class="published-story">
<% if(story.published_status) {%>
  <h2><%= story.title %></h2>
  <h3>By: <%= story.users_id =%></h3>
  <p><%= story.content %></p>
  <p><%= story.created_at %></p>
</div>
<div class="publish-story">
<% }else{ %>
  <h2><%= story.title %></h2>
  <h3>By: <%= story.users_id =%></h3>
  <p><%= story.content %></p>
  <p><%= story.created_at %></p>
<div class="append">
<% for(let contribution of contributions) { %>
  <% if (contribution.accepted_status) { %>
  <p><%= contribution.content %></p>
  <% } %>
   <% } %>
</div>
<% if(story.user_id) {%>
  <form class="publish" action='/stories/<%= story.id %>/publish' method='POST'>
    <button class='btn' class="publish" type="submit">PUBLISH</button>
  </form>
</div>

<div class="contribution-add-delete">
  <% for(let contributon of contributions) { %>
    <% if (contribution.accepted_status = FALSE) { %>
      <form class='contribution' action='/stories/<%= story.id %>' method='POST'>
        <label for="contribution">Contribution</label>
        <textarea type="text" id="contribution" name="contribution"></textarea>
        <button class='btn' type="submit" value="submit">Contribute</button>
        <br><br>
      </form>
      <% } %>
      <% } %>
<br></br>
<div id="delete">
      <form class="delete-contribution" action='/stories/<%= story.id %>' method='POST'>
        <button class='btn' class="delete" type="submit">Delete Contribution</button>
      </form>
      <form class="delete-story" action='/stories/<%= story.id %>' method='POST'>
        <button class='btn' class="delete" type="submit">Delete Story</button>
      </form></div>
</div>



</body>
</html>
